@use '/src/assets/sass/mixins';
.fc-toolbar-title{
    font-size: 1.3em !important;
    text-align: center !important;
}
.fc-today-button {
    display: none !important;
}
.fc-button-group{
    button{
        background-color: #a1a3a8 !important;
        border: none !important;
        padding: 0 !important;
        margin: 0 3px !important;
    }
}
.fc-theme-standard td, .fc-theme-standard th {
    a{
        color: #a1a3a8 !important;
    }
    border: none !important;
    border-bottom: 1px solid #eee !important;
}
.fc .fc-daygrid-day.fc-day-today {
    background-color: #00000000 !important;
    a{
        color: var(--fail-color) !important;
    }
}
.fc-theme-standard .fc-scrollgrid {
    border: none !important;
}
.fc ,.fc-media-screen ,.fc-direction-rtl ,.fc-theme-standard{
    height: 100% !important;
    min-height: 400px !important;
}
.fc-event-main-frame{
    height: 2px !important;
}
.fc-daygrid-dot-event:hover, .fc-daygrid-dot-event.fc-event-mirror {
    background: #00000000 !important;
}
.fc-daygrid-event-dot {
    border: 2px solid #3788d8;
}
.fc-event-today{
    max-height: 2px !important;
    width: 100% !important;
}
.fc-event-time{
    display: none !important;
}
.fc-event-title{
    display: none;
}
.fc-col-header-cell-cushion {
    @media (max-width:500px) {
        font-size: 0.8em;
    }
    @media (max-width:380px) {
        font-size: 0.7em;
    }
}
.claendar-toolbar{
    h1{
        text-align: center;
        margin: 0;
    }
    padding: 8px;
    .toolbar-today , .toolbar-arrow-left , .toolbar-arrow-right{
        color: var(--secondary-font-color);
        background-color: #f7f7f7;
        border: 1px solid #ddd;
        height: 32px;
        text-align: center;
        cursor: pointer;
        svg{
            vertical-align: middle;
            vertical-align: -webkit-baseline-middle !important
        }
        &:hover{
            background-color: #e7e7e7;
        }
    }
    .left-toolbar{
        max-width: 85px;
        @include mixins.flex($justify:"flex-end");
        .toolbar-today{
            padding: 4px;
            max-width: 50px;
        }
        .toolbar-arrow-left{
            padding: 0;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            max-width: 30px;
        }
    }
    .toolbar-arrow-right{
        padding: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        max-width: 30px;
    }
}